.btn-icon {
  max-width: fit-content;
  background-color: #7784ee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 0.25rem;
}
.icon-btn,
.icon-delet-btn {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  color: white;
}

.col {
  border: 1px solid;
  padding-left: unset;
  padding-right: unset;
  margin-left: 5px;
  margin-top: 1px;
}

.header-table {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.main {
  overflow: auto;
  min-height: 100vh;
  background-color: #ebf0f7;
}
.content {
  padding-right: 7.5rem;
  padding-left: 7.5rem;
  margin-right: auto;
  margin-left: auto;
}

.title-col {
  width: 100%;
  height: 100%;
  border: none;
}
.card-col {
  margin: 5px;
  cursor: pointer;
}
.new-col {
  margin: auto;
}

.full-content-text {
  display: none;
}
/*
  small-content-text
  */

.delet-btn {
  visibility: visible;
  opacity: 1;
  display: contents;
}
.card-body {
  flex: 1 1 auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgb(99 99 99 / 10%) 0px 2px 8px 0px;
  width: 100%;
}
.card-body:active {
  /* cursor: move;
  outline: 3px dashed #7b7b7b;
  outline-offset: 1px; */
}

.btn-danger {
  background-color: #7784ee;
  border-color: #7784ee;
}

.btn-danger:hover,
.delet-btn:hover > .icon-circle,
.btn-check:active + .btn-danger,
.btn-check:checked + .btn-danger,
.btn-danger.active,
.btn-danger:active,
.show > .btn-danger.dropdown-toggle {
  background-color: #5868e8;
  border-color: #5868e8;
}
.btn-check:focus + .btn-danger,
.btn-danger:focus {
  color: #fff;
  background-color: #5868e8;
  border-color: #5868e8;
  box-shadow: 0 0 0 0.25rem rgb(119 132 238 / 33%);
}
.btn-check:active + .btn-danger:focus,
.btn-check:checked + .btn-danger:focus,
.btn-danger.active:focus,
.btn-danger:active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(119 132 238 / 33%);
}
.icon-circle {
  background: #7784ee;
  padding: 10px;
  border-radius: 100%;
}
.card-body.new-col {
  text-align: center;
}

.card-body.new-col:active,
.noPadding:active {
  text-align: center;
  cursor: pointer;
  outline: unset;
  outline-offset: unset;
}

.noPadding {
  padding: unset;
}
.col {
  border: unset;
}
input:focus-visible {
  outline-color: #7b7b7b;
}

.main-page {
  display: flex;
  flex-direction: row;
  background-color: #ebf0f7;
}
.main {
  width: 95%;
}
.card-action {
  display: flex;
  justify-content: space-between;
}
.dropdown-menu.show {
  transform: translate(10px, -5px) !important;
}

.badge {
  font-family: "Poppins", sans-serif;
  border-radius: 100px;
  padding: 2px 13px;
  font-size: 12px;
}
.active-icon-menu {
  color: #5868e8 !important;
}
.form-control-color {
  height: max-content;
}
.align-margin {
  margin: auto;
}
#demo-card {
  max-width: calc(100% / 3);
  margin: auto;
}
